<div id="divView" class="split-view" style="display: none;">
	<!-- Menu -->
	<div id="divMenu" class="box-menu panel ui-widget-header ui-corner-all">
		<nav id="navigation">
			<ul>
				<li><a href="#" id="linkUsers">Users</a></li>
				<li><a href="#" id="linkLogout">Logout</a></li>
			</ul>
		</nav>
	</div>
	<!-- Contents -->
	<div id="divViewContent" class="box-content panel ui-widget-content"
		align="center" style="vertical-align: top;">
		<fieldset id="superUserForm" class="ui-widget ui-widget-content"
			style="width: 400px;">
			<legend id="saveLabel">User [New]</legend>
			<table style="width: 100%, border:0px;">
				<tr>
					<td>User Name:</td>
					<td><input type="text" id="username" name="username"
						placeholder="user name"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="text" id="password" name="password"
						placeholder="password"></td>
				</tr>
				<tr>
					<td><input type="hidden" id="userid" name="userid" value=""></td>
					<td align="right"><input id="btnSave" name="btnSave"
						type="button" value="Save"> &nbsp; <input id="btnReset"
						name="btnReset" type="button" value="Reset"></td>
				</tr>
			</table>
		</fieldset>
		<br />
		<table id="superTableUser" border="1" class="ui-widget"
			style="width: 400px;">
			<thead class="ui-widget-header">
				<tr>
					<td>User Name</td>
					<td>Active</td>
					<td>Delete</td>
				</tr>
			</thead>
			<tbody id="tableSuperUserBody" class="ui-widget-content"></tbody>
		</table>
	</div>
</div>