body,html{
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font: 13px/1.231;
	height: 95%;
	margin: 1px;
	padding-right: 1px;
}

div{
	display: table;
}

img{
	vertical-align: middle;
	display: table-cell;
}

span{
	vertical-align: middle;
	display: table-cell;	
}	

fieldset{
	clear: both;
	font-size: 75%;
}

legend{
	font-weight: bold;
}

.split-view{
	margin: 1px;
	width: 100%;
	height: 100%;
	clear: both;
	display: table;
}

.split-view .panel{
	display: table-cell;
}

.panel{
	padding: 1px;
	border-width: 0px;
	border-style: solid;
	height: 4em;
}	

/* Panel Colors */
.box-menu{
	width: 200px;
	border-color: silver;
}

.box-content{
	border-color: silver;
	vertical-align: middle;
	display: table-cell;
}

ul{
	list-style: none;
}

#navigation{
	margin: 0px;
	padding: 0px;
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #444;	
}

#navigation ui{
	float: left;
	overflow: hidden;
}

#navigation a{
	display: block;
	padding: 10px 15px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 1 1px #000;
}

#navigation a:hover, #navigation li.current a {
	color: #444;
	text-shadow: 0 1px #fff;
}